<!-- Dishes -->
<div class="dishes section">
    <h2 class="section-title">Dishes</h2>
    <div class="section-content">
        <div class="dishes-errors">{{dishesErrors}}</div>
        <div class="dishes-group" ng-repeat="category in categories">
            <h3 class="dishes-title">{{category}}</h3>
            <ul class="dishes-list">

                <li class="dish" ng-repeat="dish in dishes | filterDishesByCategory : category | orderBy : 'name'">
                    <img class="dish-image" ng-src="{{dish.image_url}}" alt="{{dish.name}}"/>
                    <div class="dish-content">
                        <h4 class="dish-name">{{dish.name}}</h4>
                        <div class="dish-description">
                            <p class="dish-text">{{dish.description}}<br/>{{dish.category}}</p>
                            <div class="dish-info">
                                <span class="dish-weight">{{dish.weight + ' grams'}}</span>
                                <span class="dish-price">{{(dish.price | number : 2) + ' grn'}}</span>
                                <span class="dish-order">
                                    <button class="button" ng-click="addToOrder(dish)">Add to order</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>

<!-- Order -->
<div class="order section">
    <h2 class="section-title">Order</h2>
    <div class="section-content">
        <div class="order-errors">{{orderErrors}}</div>
        <form class="order-form" ng-submit="submitOrder()" name="order" action="">

            <table class="order-table">
                <tbody>
                    <tr ng-repeat="item in orderList">
                        <td>{{item.name}}</td>
                        <td>
                            <input class="textfield" ng-model="item.quantity" ng-change="updateItemQuantity(item)" type="number" max="{{orderItemMaxQuantity}}" min="1">
                        </td>
                        <td>{{(item.getSum() | number : 2) + ' grn'}}</td>
                        <td><span class="icon-close" ng-click="removeFromOrder(item)">&times;</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">{{(orderTotal | number : 2) + ' grn'}}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input class="textfield" ng-model="orderName" type="text" placeholder="Name" maxlength="20" required/>
                            <input class="textfield" ng-model="orderPhone" type="tel" ng-pattern="orderPhonePattern" placeholder="Phone" maxlength="20" required/>
                            <button class="button">Create an order</button>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </form>

    </div>
</div>